// @import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Kumbh+Sans:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');
@import './components/styles/_color.scss';
* {
  padding: 0;
  margin: 0;
  // font-family: Kumbh Sans, sans-serif;
  font-family: 'Epilogue', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #f8f8f8;

  a {
    text-decoration: none;
    color: #fff;
  }
  button {
    text-transform: capitalize !important;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .MuiTableRow-root:nth-child(even) {
    background-color: #fff;
  }

  .MuiTableRow-root:nth-child(odd) {
    background-color: #ffffff;
  }
  .autocomplete-wrapper.error .MuiTextField-root {
    border-color: #d32f2f; /* Adjust based on your design */
  }

  .autocomplete-wrapper .MuiFormHelperText-root {
    color: #d32f2f; /* Adjust based on your design */
  }

  /* Firefox */
  .optionsWrapper {
    background-image: url('/images/dashboardbg.svg');
    height: 75px;
    // width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #ebeaf2;
    display: flex;
    gap: 3rem;
    justify-content: flex-start;
    padding: 0 2rem;
    align-items: flex-end;
    a,
    span {
      color: #000;
      font-weight: 500;
      cursor: pointer;
      padding: 0 0 15px 0;
    }
  }
  thead {
    tr {
      th {
        font-weight: 600 !important;
      }
    }
  }
  .counter {
    background-color: #fff;
    padding: 13px;
    width: 230px;
    border-radius: 16px;
    font-size: 13px;
    font-weight: 600;
  }
  .status {
    padding: 4px;
    border-radius: 4px;
    color: #fff;
  }
  .pending {
    background-color: rgba(145, 54, 54, 0.81);
  }
  .error {
    color: rgb(185, 26, 26);
    font-size: 12px;
  }
  .success {
    background-color: #3c7430ce;
  }
}
.tableContainer {
  // padding: 10px;
  table {
    border-collapse: separate; /* Ensure border-spacing works */
    border-spacing: 0 8px; /* Add margin between rows */
    width: 100%; /* Make the table take full width */
  }
  th {
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 11px;
    text-align: center;
    border: none;
  }

  td {
    text-align: center;
    border-radius: 0!important;
    // border-radius: 10px;
    border: none;
    font-weight: normal;
    padding: 5px;
  }

  td:nth-child(1) {
    border-radius: 10px 0 0 10px;
  }

  td:last-child {
    border-radius: 0 10px 10px 0;
  }
}

.edit-button {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  font-size: 0.875rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
  border: none;
  background-color: $secondary-color;
  color: $text-color;
}

.edit-button:hover {
  background-color: darken($secondary-color, 10%);
}

.save-button {
  padding: 0.5rem 1rem;

  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
  border: none;
  background-color: $primary-color;
  color: black;
}

.save-button:hover {
  background-color: darken($primary-color, 10%);
}

input {
  // flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.optionsWrapper {
  display: flex;
  height: 65px;
  background-color: #fff;
  .optionsInner {
    display: flex;
    padding: 0 2rem;
    gap: 3rem;
    align-items: flex-end;
    // border-bottom: 1px solid #ebeaf2;
    .selectedOption {
      border-bottom: 3px solid #2d3b48;
    }
  }
  a,
  span {
    color: #000;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    padding: 0 0 10px 0;
  }
}


.error-message {
  color: red;
  font-size: 11px;
  margin-top: 0.5rem;
}
