.collection-page {
  display: flex;
  padding: 20px;
  background-color: #fefefe;
  gap: 1rem;
  .categoryWrapper {
    padding: 15px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
      rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    h4 {
      font-weight: 600;
      background: #f6f7f9;
      font-size: 18px;
      text-align: left;
      padding: 8px;
      border-radius: 10px;
    }
    .categories {
      margin: 10px 0;
      display: flex;
      flex-direction: column;
      gap: 15px;
      div {
        display: flex;
        gap: 10px;
        p {
          font-size: 16px;
        }
      }
    }
  }
  .productWrapper {
    padding: 20px;
    display: grid;
    gap: 15px;
    grid-template-columns: auto auto auto;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
      rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    .productCard {
      display: flex;
      flex-direction: column;
      border: 0.5px solid #dedede;
      border-radius: 12px;
      .imageContainer {
        img {
          border-radius: 12px 12px 0 0;
          height: 210px;
          width: 240px;
          object-fit: cover;
        }
      }
      .productDetails {
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        text-align: left;
        .inner {
          display: flex;
          justify-content: space-between;
          h5 {
            margin: 0;
            font-size: 18px;
            font-weight: 600;
          }
        }
        p {
          font-size: 16px;
          font-weight: 500;
          color: gray;
        }
        .description {
          font-size: 14px;
        }
        .buttonContainer {
          display: flex;
          gap: 10px;
          button {
            width: 100%;
            padding: 10px;
            border-radius: 4px;
            border: none;
            font-size: 12px;
            font-weight: 500;
            cursor: pointer;
          }
          .buyButton {
            background-color: #000;
            color: #fff;
          }
          .cartBtn{
            border: 1px solid gray;
          }
        }
      }
    }
  }
}

.shopping-cart {
  width: 550px;
  // height: 423px;
  background: #ffffff;
  box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  display: flex;
  flex-direction: column;

  .title {
    // height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e1e8ee;
    padding: 15px 30px;
    color: #5e6977;
    font-size: 16px;
    font-weight: 600;

    svg{
      font-size: 21px;
    }
  }

  .item {
    padding: 20px;
    height: 110px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    border-bottom: 1px solid #e1e8ee;
  }

  .description {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 250px;
    img {
      height: 50px;
      object-fit: cover;
      border-radius: 8px;
    }
    span {
      display: block;
      font-size: 14px;
      color: #43484d;
      font-weight: 400;
    }
  }

  .quantity {
    display: flex;
    align-items: center;
    input {
      -webkit-appearance: none;
      border: none;
      text-align: center;
      width: 32px;
      font-size: 16px;
      color: #43484d;
      font-weight: 300;
    }
    button {
      width: 30px;
      height: 30px;
      background-color: #e1e8ee;
      border-radius: 6px;
      border: none;
      cursor: pointer;
    }
  }

  .total-price {
    text-align: center;
    font-size: 16px;
    color: #43484d;
    font-weight: 300;
  }

  .cartFooter {
    display: flex;
    justify-content: space-between;
    width: auto;
    width: 550px;
    align-items: center;
    padding: 20px 0;
    position: fixed;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
      rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;

    bottom: 0;
    .priceInfo {
      padding: 0 20px;
    }
    button {
      margin-right: 20px;
      border: none;
      padding: 12px;
      border-radius: 8px;
      font-weight: 600;
      font-size: 14px;
      cursor: pointer;
    }
  }
}

.productPage {
  background-color: #fff;
  padding: 20px 5%;
  .productDetailsSection {
    display: flex;
    gap: 2rem;
    .productImage {
      display: flex;
      // align-items: center;
      gap: 12px;
      border: 1px solid #dedede;
      border-radius: 16px;
      padding: 20px;
      .imageList {
        img {
          border-radius: 4px;
          height: 70px;
          width: 70px;
          object-fit: contain;
          // border-radius: 8px;
        }
      }
      .mainImg {
        border-radius: 8px;
        width: 410px;
        height: 410px;
        // border-radius: 16px;
        object-fit: contain;
      }
    }
    .productDetails {
      margin-top: 40px;
      h1 {
        font-weight: 700;
        font-size: 24px;
      }
      .productDescription {
        font-weight: 400;
        font-size: 16px;
        color: #6a6a6a;
        margin: 5px 0 10px 0;
        font-size: 14px;
        max-height: 170px;
        overflow: auto;
        padding: 0 10px;
      }
      .productPrice {
        margin: 0 0 20px 0;
        .price {
          font-weight: 500;
          margin: 0 10px 0 0;
          font-size: 26px;
          color: #040404;
        }
        .comparePrice {
          font-weight: 400;
          font-size: 16px;
          text-decoration: line-through;
          color: #6a6a6a;
        }
      }
      .variantWrapper {
        height: 90px;
        width: 100%;
        margin: 20px 0;
        padding: 10px;
        border-top: 1px solid #d0d0d0;
        border-bottom: 1px solid #d0d0d0;
        p {
          color: #040404;
          font-weight: 700;
          margin: 0 0 20px 0;
        }
        span {
          border: 1.15px solid #dedede;
          color: gray;
          border-radius: 4px;
          padding: 7px;
          font-weight: 500;
          font-size: 12px;
          cursor: pointer;
        }
      }
      .ratingWrapper {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 20px;
        span {
          background: #339705;
          padding: 4px 5px 2px 5px;
          font-size: 14px;
          border-radius: 4px;
          color: #fff;
        }
        svg{
          color: goldenrod;
        }
      }
      .buttonContainer {
        display: flex;
        gap: 10px;
        button {
          width: 300px;
          padding: 10px;
          border-radius: 4px;
          border: none;
          font-size: 12px;
          font-weight: 500;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
        }
        .buyButton {
          background-color: #000;
          color: #fff;
        }
        .cartBtn{
          border: 1px solid gray;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .shopping-cart {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .item {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
}
